@font-face {
  font-family:'Kalame';
  src:url('fonts/Kalame.ttf');
}

body{
  margin:0;
  background:#0b0b0b;
  color:#fff;
  font-family:'Helvetica','Kalame',sans-serif;
  letter-spacing:0.6px;
}

header{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:25px 40px;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(12px);
}

.logo{
  letter-spacing:5px;
  font-size:13px;
}

nav a{
  color:#fff;
  margin-left:20px;
  text-decoration:none;
  letter-spacing:3px;
  font-size:11px;
}

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:44px;
  letter-spacing:7px;
}

.sec{
  padding:140px 40px;
  text-align:center;
}

.dark{
  background:#151515;
}
 background: url("عک/عکس1") center/cover no-repeat;
  display: flex;
